{% extends "app/base.html" %}
{% block body %}
<h2 class="m-4">Lista de alumnos</h2>
<div class="row">
    <div class="col-12">
        <a class="btn btn-primary ms-4 me-4 mb-4" href="{% url 'alumno_agregar' %}">Nuevo alumno</a>
        {% if alumnos %}
            <div class="card bg-light ms-4 me-4 mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-list fa-lg"></i> Registro de alumnos
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Edad</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">NumDoc</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for alumno in alumnos %}
                                    <tr>
                                        <td>{{ alumno.nombre }} {{ alumno.apellidos }}</td>
                                        <td>{{ alumno.edad }}</td>
                                        <td>{{ alumno.correo }}</td>
                                        <td>{{ alumno.numDoc }}</td>
                                        <td>
                                            {% if alumno.estado %}
                                                <span class="badge bg-success">Activo</span>
                                            {% else %}
                                                <span class="badge bg-danger">Inactivo</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                        <button type="button" class="btn btn-sm btn-success me-1" href="{% url 'view_alumno' alumno.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{alumno.id}}">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </button>

                                        <!-- Modal - lista de alumno -->
                                        <div class="modal" id="myModal{{alumno.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title">
                                                    Alumno: {{ alumno.nombre }} {{ alumno.apellidos }}
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true"></span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                <ul class="list-unstyled">
                                                    <li>Nombre: <strong>{{ alumno.nombre }}</strong></li>
                                                    <li>Apellidos: <strong>{{ alumno.apellidos }}</strong></li>
                                                    <li>Edad: <strong>{{ alumno.edad }}</strong></li>
                                                    <li>Correo: <strong>{{ alumno.correo }}</strong></li>
                                                    <li>DNI: <strong>{{ alumno.numDoc }}</strong></li>
                                                </ul>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>

                                        <a class="btn btn-sm btn-warning me-1" href="{% url 'alumno_editar' alumno.id %}">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>

                                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{alumno.id}}">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>

                                        <!-- Modal - eliminar alumno -->
                                        <div class="modal" id="delete{{alumno.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title">
                                                    Alumno: {{ alumno.nombre }} {{ alumno.apellidos }}
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true"></span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                <p>¿Estás seguro de que quieres eliminar a este alumno?</p>
                                                </div>
                                                <div class="modal-footer">
                                                <form action="{% url 'alumno_eliminar' alumno.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="submit" class="btn btn-primary" value="Eliminar">
                                                </form>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </p>
                </div>
            </div>
        {% else %}
        <h5 class="alert alert-primary ms-4 me-4">No hay registro de alumnos</h5>
        {% endif %}
    </div>
</div>
{% endblock %}