{% extends "app/base.html" %}
{% block body %}
<div class="row mt-5">
    <div class="col-12">
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                <i class="fa-solid fa-list fa-lg"></i> Editar alumno
            </div>
            <div class="card-body">
                <form action="{% url 'alumno_editar' alumno.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" style="width: 30%" class="form-control" name="nombre" value="{{ alumno.nombre }}" required="required">
                    </div>
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" style="width: 30%" class="form-control" name="apellidos" value="{{ alumno.apellidos }}" required="required">
                    </div>

                    <div class="form-group">
                            <label>Edad</label>
                            <input type="number" style="width: 30%" class="form-control" name="edad" value="{{ alumno.edad }}" required="required">
                    </div>
                    <div class="form-group">
                            <label>Correo</label>
                            <input type="email" style="width: 30%" class="form-control"  name="correo" value="{{ alumno.correo }}" required="required">
                    </div>
                    <div class="form-group">
                        <label>Número Documento</label>
                        <input type="text" style="width: 30%" class="form-control" name="numDoc" value="{{ alumno.numDoc }}" required="required">
                    </div>

                    <div class="form-group">
                            <label for="categoria">Estado</label><br>

                            <select style="width: 30%" class="form-select" name="estado">
                                    <option value="" disabled>Seleccione</option>
                                    <option value="True" {% if alumno.estado %} selected {% endif %} >Activo</option>
                                    <option value="False" {% if not alumno.estado %} selected {% endif %} >Inactivo </option>
                            </select>   
                    </div>
                    <div class="form-group mt-3 text-end">
                            <a type="button" class="btn btn-secondary" href="{% url 'alumnos' %}">Cancelar</a>
                            <button type="submit" class="btn btn-warning">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}      